.container{
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;
    display: grid;

    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px 150px;

    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.item{
    padding: 20px;
    font-size: 30px;
    color: white;
}

.black{
    background-color: black;
}
.pink{
    background-color: pink;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}